[submodule "routing/routesfetcher/external/arlib"]
	path = routing/routesfetcher/external/arlib
	url = https://github.com/leonardoarcari/arlib
[submodule "routing/routesfetcher/external/json11"]
	path = routing/routesfetcher/external/json11
	url = https://github.com/dropbox/json11
